<ion-view title="Directions">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
              <span class="input-label">A</span>
              <input id = "Autocomplete" type="text" ng-autocomplete ng-model = "result1"/>
            </label>

            <label class="item item-input">
              <span class="input-label">B</span>
              <input type="text">
            </label>
        </form>

         <label class="item item-input item-select">
            <div class="input-label">
              When?
            </div>
            <select>
              <option>One hour from now</option>
              <option selected>Now</option>
              <option>Two hours from now</option>
            </select>
          </label><br>

        <div id="directions-map-container">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
        </div>

        <div>result: {{result1}}</div>

        <div class="spacer" style="height: 20px;"></div>
        <ion-list>
            <ion-item>Route 1</ion-item>
            <ion-item>Route 2</ion-item>
            <ion-item>Route 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>