<ion-view title="Home">
    <ion-content padding="true" class="has-header">
        <div id = "logo" style="line-height: 250px; text-align: center; width: 100%; height: 150px; background-color: rgb(255, 255, 255);">
        <img src = "img/logo2.png" class=""></img>
        </div>
        <div class="spacer" style="width: 300px; height: 39px;"></div>

        <div class="round-home-container-flex">
            <div class="round-home-container">
                <div class ="row">
                    <div class="col">
                        <a href="#/newworkout" id="round-home-btn"><img src="img/workout.png"></a><p class="round-home-label">New Workout</p>
                    </div>

                    <div class="col">
                        <a href="#/pollutionmap" id="round-home-btn"><img src="img/map.png"></a><p class="round-home-label">Pollution Map</p>
                    </div>
                </div>

                <div class="row">

                    <div class="col">
                        <a href="#/direction" id="round-home-btn"><img src="img/directions.png"></a><p class="round-home-label">Directions</p>
                    </div>

                    <div class="col">
                        <a href="#/settings" id="round-home-btn"><img src="img/settings.png"></a><p class="round-home-label">Settings</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>