<ion-view title="New Workout">
    <ion-content padding="true" class="has-header">
    <div class="round-home-container-flex">
    	<div class="round-home-container">
        <div class ="row">
        <div class="col">
            <a href="#/customworkout"> <button class="button button-stable button-clear round-home-button"><img src="/img/10km.png"></button></a><p class="round-home-label">10 km</p></div>
        <div class="col">
            <a href="#/customworkout"> <button class="button button-stable button-clear round-home-button"><img src="/img/halfmarathon.png"></button></a><p class="round-home-label">Half-marathon</p></div>
        </div>
        <div class ="row">
        <div class="col">
            <a href="#/customworkout"> <button class="button button-stable button-clear round-home-button"><img src="/img/marathon.png"></button></a><p class="round-home-label">Marathon</p></div>
        <div class="col">
            <a href="#/customworkout"> <button class="button button-stable button-clear round-home-button"><img src="/img/30min.png"></button></a><p class="round-home-label">30 mins</p></div>
        </div>
        <div class ="row">
        <div class="col">
            <a href="#/customworkout"> <button class="button button-stable button-clear round-home-button"><img src="/img/60min.png"></button></a><p class="round-home-label">1 hour</p></div>
        <div class="col">
            <a href="#/customworkout"> <button class="button button-stable button-clear round-home-button"><img src="/img/custom.png"></button></a><p class="round-home-label">Custom</p></div>
        </div>
    </ion-content>
</ion-view>