<ion-view title="Pollution Map">  

      <ion-content padding="true" class="has-header">
     
        <label class="item item-input" id="address-input" name="address">
                <i class="icon ion-search placeholder-icon"></i>
                 <input id = "Autocomplete" type="text" ng-autocomplete ng-model = "result1" details = "details1" options = "options1">
        </label>

        <div>result: {{result1}}</div>
        <div>lat: {{details1.geometry.location.lat()}}</div>
        <div>long: {{details1.geometry.location.lng()}}</div>

         <div id="directions-map-container">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
        </div>


        <div id="legend">
          <div id="legend-title">Legend</div>

          <ul>
            <li>
                <span id="green-box" class="box"></span> Low pollution zones
            </li>

            <li>
                <span id="orange-box" class="box"></span> Medium pollution zones
            </li>

            <li>
                <span id="red-box" class="box"></span> High pollution zones
            </li>
          </ul>
        </div>
      </ion-content>
       
    </ion-view>