<ion-view title="Pollution Map">  

      <ion-content padding="true" class="has-header" ng-controller = "pollutionMapCtrl">
        
        <form name = "placeForm" novalidate >         
        <div class = "form-group" >               
          <label class="item item-input" id="address-input" >
                  <i class="icon ion-search placeholder-icon"></i>
                   <input name = "address" placeholder = "Enter area" id = "Autocomplete" type="text" ng-autocomplete ng-model = "result1" details = "details1" options = "options1" ng-blur="" required>
          </label>

           <button class = "button button-block button-assertive" ng-show="placeForm.address.$error.required && placeForm.address.$touched" disabled>Please enter a valid location.</button>  


        </div>

                

        <!--<div>result: {{result1}}</div>
        <div>lat: {{details1.geometry.location.lat()}}</div>
        <div>long: {{details1.geometry.location.lng()}}</div>-->
        <button ng-disabled="placeForm.$invalid" type = "submit" class = "button button-positive button-block" ng-click = "updateMap(details1.geometry.location.lat(), details1.geometry.location.lng())" >Search</button>

      </form>
         <!--<div id="directions-map-container">
            <ui-gmap-google-map center='map.center' id = "map-canvas" zoom='map.zoom'></ui-gmap-google-map>
        </div>-->

        <!--https://github.com/usmankhalid3/ionic-angular-app/blob/master/bower_components/ngmap/README.md-->
        <div map-lazy-load="http://maps.google.com/maps/api/js">
        <map center="current-location" zoom="15" min-zoom="8">
          <fusion-tables-layer query="{
            select: 'geometry',
            from: '1pHZ_F-xDRFU0omNrpu-SdLoVYOm0Fm5CPDdSsbab'}">
          </fusion-tables-layer>
          <marker
            position="current-location"
            visible="true"
            >
          </marker>
        </map>
      </div>


        <div id="legend">
          <div id="legend-title">Legend</div>

          <ul>
            <li>
                <span id="green-box" class="box"></span> Low pollution zones
            </li>

            <li>
                <span id="orange-box" class="box"></span> Medium pollution zones
            </li>

            <li>
                <span id="red-box" class="box"></span> High pollution zones
            </li>
          </ul>
        </div>
      </ion-content>
       
    </ion-view>