<ion-view title="Settings">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">My Health Condition</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-select">
                <span class="input-label">health conditions</span>
                <select></select>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 45px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Notification</span><textarea placeholder=""> </textarea>
            </label>
            <div>
                <p>
                    &nbsp; &nbsp; Alert me for
                </p>
            </div>
            <ion-checkbox>air pollution news</ion-checkbox>
            <ion-checkbox>and so on</ion-checkbox>
            <ion-checkbox>and so on</ion-checkbox>
        </form>
        <button class="button button-block button-calm"> Save </button>
    </ion-content>
</ion-view>